$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;;
$font-tertiary: 'Kaushan Script', cursive;
$color-text-banner:#ffffff;
$color-hover-header:#fce38a;
$color-title: #333333;
$color-description:#999999;
$color-after:#f38181;
$color-social-list:#fce38a;
$color-social-list-hover:#f38181;
$color-social-list_svg :#ffffff;
$color-footer-border:#e5e5e5;
$color-footer-link-hover:#f38181;
$color-footer-form-border:#e7e7e7;
$color-foter-placeholder:#cccccc;
$color-background-placeholder:#ffffff;
$color-contact-form:#ffffff;
$color-background-contact-form:#95e1d3;


